<h2><%= t("forem.admin.category.index") %></h2>

<%= link_to t("forem.admin.category.new_link"), new_admin_category_path %>

<%= render 'list_categories', categories: @categories %>

<%= link_to t('forem.admin.forum.index'), admin_forums_path %>

