<h2><%= breadcrumbs_for_category @category %></h2>

<% if @category.categories.length > 0 %>
  <%= render @category.categories %>
<% else %>
  <%= render 'forem/forums/listing', category: @category %>
<% end %>
